# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
dest/
andriod/app/build/
ios/build/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
 package-lock.json
 yarn.lock
 # Ignore all XML files
*.xml

# OR ignore specific XML folders (e.g., from IDEs)
.idea/*.xml
.vscode/*.xml
android/
# If you have specific XMLs you WANT to keep, use an exclamation mark:
# !important-config.xml
# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
